<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      <img class="header-icon" src="assets/imgs/small-icon.png">
      <span class="header-title-thin">sch</span><strong>ema</strong>
    </ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <ion-buttons slot="start">
      <!--<ion-back-button (click)="back()"></ion-back-button>-->
      <ion-button (click)="back()">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title id="section-title">
      {{this.current_section_name}} <small>({{this.current_section}}/{{this.num_sections}})</small>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="scroll-content">

  <ion-list id="survey-list">

    <ion-item lines="full" text-wrap *ngFor="let question of survey.sections[current_section-1].questions" class="survey-item"
      [hidden]="!question.hideSwitch">

      <!-- instruction type -->
      <div item-content *ngIf="question.type == 'instruction'">
        <p [class.showError]="!question.hideError">
          {{question.text}}
        </p>
      </div>

      <!-- slider type -->
      <div style="width:100%" item-content *ngIf="question.type == 'slider'">
        <p [class.showError]="!question.hideError">
          {{question.text}}
        </p>
        <ion-range [min]="question.min" [max]="question.max" [(ngModel)]="question.model" [pin]="true"
          [value]="question.model" (ionChange)="setAnswer(question)" color="secondary" style="font-size:small;">
          <ion-label slot="start" style="font-size:small;">{{question.hint_left}}</ion-label>
          <ion-label slot="end" style="font-size:small;">{{question.hint_right}}</ion-label>
        </ion-range>
      </div>

      <!-- video/audio/image type -->
      <div style="width:100%;padding-right:12px !important;" item-content *ngIf="question.type == 'media'">
        <p [class.showError]="!question.hideError">
          {{question.text}}
        </p>
        <video *ngIf="question.subtype == 'video'" controls="controls" preload="metadata"
          webkit-playsinline="webkit-playsinline" class="videoPlayer">
          <source [src]="question.src" />
        </video>
        
        <!-- audio -->
        <audio *ngIf="question.subtype == 'audio'" style="width:100%;" controls="controls" preload="metadata">
          <source [src]="question.src" type="audio/mpeg">
        </audio>
        
        <!-- image -->
        <ion-img *ngIf="question.subtype == 'image'" style="width:100%;" [src]="question.src"></ion-img>
        <br>
      </div>

      <!-- text input -->
      <div style="width:100%;" item-content *ngIf="question.type == 'text'">
        <p [class.showError]="!question.hideError">
          {{question.text}}
        </p>
        <ion-input *ngIf="question.subtype == 'short'" [(ngModel)]="question.model" (ionBlur)="setAnswer(question)"
          style="font-size:small;" type="text" autocomplete="on" autocorrect="on" placeholder="Enter response...">
        </ion-input>

        <ion-input *ngIf="question.subtype == 'numeric'" [(ngModel)]="question.model" (ionBlur)="setAnswer(question)"
          style="font-size:small;" placeholder="Enter number..." type="number" pattern="\d*"></ion-input>

        <ion-textarea *ngIf="question.subtype == 'long'" [(ngModel)]="question.model" (ionBlur)="setAnswer(question)"
          style="font-size:small;" placeholder="Enter response..."></ion-textarea>
      </div>

      <!-- multi -->
      <div style="width:100%;" item-content *ngIf="question.type == 'multi'">
        <p [class.showError]="!question.hideError">
          {{question.text}}
        </p>
        <ion-radio-group (ionChange)="setAnswer(question)" [(ngModel)]="question.model" *ngIf="question.radio == true">
          <ion-item *ngFor="let option of question.options">
            <ion-label style="font-size:small;">{{option}}</ion-label>
            <ion-radio value="{{option}}"></ion-radio>
          </ion-item>
        </ion-radio-group>

        <div radio-group [(ngModel)]="question.model" *ngIf="question.radio == false">
          <ion-item *ngFor="let option of question.options">
            <ion-label style="font-size:small;">{{option}}</ion-label>
            <ion-checkbox (click)="changeCheckStatus(option, question)"></ion-checkbox>
          </ion-item>
        </div>
        <br>
      </div>

      <!-- datetimepicker -->
      <div item-content *ngIf="question.type == 'datetime'">
        <p [class.showError]="!question.hideError">
          {{question.text}}
        </p>

        <ion-datetime *ngIf="question.subtype == 'datetime'" style="font-size:small;" [(ngModel)]="question.model"
          displayFormat="DDDD MMM DD, YYYY, hh:mm a" (ionChange)="setAnswer(question)"></ion-datetime>

        <ion-datetime *ngIf="question.subtype == 'date'" style="font-size:small;" [(ngModel)]="question.model"
          displayFormat="DDDD MMM DD, YYYY" (ionChange)="setAnswer(question)"></ion-datetime>

        <ion-datetime *ngIf="question.subtype == 'time'" style="font-size:small;" [(ngModel)]="question.model"
          displayFormat="hh:mm a" (ionChange)="setAnswer(question)"></ion-datetime>

      </div>

      <!-- boolean toggle -->
      <div style="width:100%;" item-content *ngIf="question.type == 'yesno'">
        <p [class.showError]="!question.hideError">
          {{question.text}}
        </p>

        <ion-segment [(ngModel)]="question.model" (ionChange)="setAnswer(question)">
          <ion-segment-button value="{{question.yes_text}}">
            {{question.yes_text}}
          </ion-segment-button>
          <ion-segment-button value="{{question.no_text}}">
            {{question.no_text}}
          </ion-segment-button>
          <br><br>
        </ion-segment>
      </div>

    </ion-item>
    <!--</ion-item-group>-->
    <ion-item-group>
      <ion-item-divider color="light"></ion-item-divider>
      <ion-item lines="full">
        <ion-label>
          <ion-button (click)="submit()" size="large" expand="block" color="secondary">{{this.submit_text}}</ion-button>
        </ion-label>
      </ion-item>
    </ion-item-group>
  </ion-list>

</ion-content>