<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      <img class="header-icon" src="assets/imgs/small-icon.png">
      <span class="header-title-thin">sch</span><strong>ema</strong>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-item lines="none" *ngIf="!(graphs.length > 0)">
    <ion-label class="ion-text-wrap ion-text-center">
      <br><br>
      <ion-icon id="stats-icon" color="secondary" name="stats"></ion-icon><br><br>
      {{ 'placeholder_my-progress' | translate:params }}<br><br>
    </ion-label>
  </ion-item>

  <div *ngFor="let graph of graphs">
      <ion-item-divider color="light">{{graph.header}}</ion-item-divider>
      <canvas class="graph-style" baseChart 
        [datasets]="graph.data"
        [labels]="graph.labels"
        [options]="graph.options"
        [colors]="graph.colors"
        [legend]="graph.legend"
        [chartType]="graph.type">
      </canvas>
      <ion-item lines="full">
        <ion-label class="ion-text-wrap">
          <p style="font-size:13px;color:#000000;" [innerHTML]="graph.blurb"></p>
        </ion-label>
      </ion-item>
    </div>

    <div *ngIf="enrolledInStudy">
      <ion-item-divider *ngIf="history.length > 0">
        <ion-label>
          {{ 'heading_recently-completed' | translate:params }}
        </ion-label>
      </ion-item-divider>
      
      
      <ion-item *ngFor="let record of history">
        <ion-label>
          {{record.task_name}}
        </ion-label>
        <ion-label slot="end" color="medium" class="ion-text-right">
          {{record.moment_time}}
        </ion-label>
      </ion-item>
    </div>
</ion-content>
