<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      <img class="header-icon" src="assets/imgs/small-icon.png">
      <span class="header-title-thin">sch</span><strong>ema</strong>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ic-style page-home" no-padding scroll="false">

  <!-- Displayed if user is not enrolled in a study -->
  <ion-img src="assets/imgs/slider1.png" [hidden]="hideEnrolOptions" style="height:100%;"></ion-img>

  <!-- Displays if user is enrolled in a study -->
  <div id="study-list" [hidden]="!hideEnrolOptions">

    <ion-img [src]="study.properties.banner_url" style="width:100%;"></ion-img>
    

    <ion-item-divider color="light">
      <strong>Tasks</strong>
        <ion-button (click)="sortTasksList()" fill="clear" slot="end">
          <ion-icon name="swap" slot="icon-only" class="rotate-90"></ion-icon>
        </ion-button>
    </ion-item-divider>

    <ion-item *ngFor="let task of task_list" detail>
      <ion-icon color="secondary" name="{{task.type}}" slot="start"></ion-icon>
      <ion-label [routerLink]="'/survey/' + task.task_id" routerDirection="forward">
        {{task.name}}
        <br>
        <span class="moment">{{task.moment}}</span>
      </ion-label>
    </ion-item>

    <ion-item lines="none" text-wrap text-center [hidden]="task_list.length">
      <ion-label>
          Relax, you're all up to date!
          <br><br>
          <ion-icon style="font-size:3em;" color="secondary" name="happy"></ion-icon>
      </ion-label>
    </ion-item>

  </div>
</ion-content>

<ion-footer [hidden]="hideEnrolOptions">
    <ion-item (click)="scanBarcode()" lines="none">
        <ion-label>
          <ion-button expand="full" size="large" color="secondary">Scan QR Code</ion-button>
        </ion-label>
      </ion-item>  
  
      <ion-item (click)="enterURL()" lines="none">
        <ion-label>
          <ion-button expand="full" size="default" fill="clear" color="secondary">Enter URL</ion-button>
        </ion-label>
      </ion-item>
</ion-footer>
