ion-content {
    --offset-top: 1px;
}

.page-home {

    .moment {
        font-size:small;
        color:gray;
    }

    .rotate-90 {
        display: inline-block; 
        transform: rotate(90deg);
    }

}

.secondary {
    color: #04998b;
}