<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      <img class="header-icon" src="assets/imgs/small-icon.png">
      <span class="header-title-thin">sch</span><strong>ema</strong>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-item-group>
    <ion-item-divider color="light">User ID</ion-item-divider>
    <ion-item lines="full">
      {{this.uuid}}
    </ion-item>
  </ion-item-group>
  <ion-item-group [hidden]="!isEnrolled">
    <ion-item-divider lines="full" color="light">Notifications</ion-item-divider>
    <ion-item lines="full">
      <ion-label> Enable Notifications</ion-label>
      <ion-toggle color="secondary" (ionChange)="toggleNotifications()" [(ngModel)]="notificationsEnabled"></ion-toggle>
    </ion-item>
    <ion-item-divider color="light">Study Description</ion-item-divider>
    <ion-item lines="full">
      <ion-label text-wrap>
        {{this.study.properties.description}}
      </ion-label>
    </ion-item>
    <ion-item-divider color="light">Contact</ion-item-divider>
    <ion-item lines="full" (click)="openSupportEmail(this.study.properties.support_email, this.study.properties.study_name)" detail>
      <ion-label>
        {{this.study.properties.support_email}}
      </ion-label>
    </ion-item>
    <ion-item lines="full" (click)="openSupportURL(this.study.properties.support_url)" detail>
      <ion-label>
        Support website
      </ion-label>
    </ion-item>
    <ion-item-divider color="light">Withdraw</ion-item-divider>
    <ion-item lines="full" (click)="withdrawFromStudy()" detail>
      <ion-label>
        Withdraw from program
      </ion-label>
    </ion-item>
  </ion-item-group>

</ion-content>